body {
    margin: 0;
    background-color: #141416;
    /* or #000 for pure black */
    color: white;
    /* Optional: ensures text is visible */
    font-family: 'Roboto', sans-serif;
    /* MUI default font */
}